streamlit
 translate
 gtts
 requests
moviepy
 Pillow
 SpeechRecognition
google-Generativeai
sentence-transformers
uvicorn
ctransformers
langchain
python-box
streamlit
langchain_community
huggingface_hub
pytube
pip install --upgrade pytube

